<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>TCL - True Life Care</display-name>

    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.tcl.servlet.UserLoginServletImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>com.tcl.servlet.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/userRegister</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BoothLoginServlet</servlet-name>
        <servlet-class>com.tcl.servlet.BoothLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoothLoginServlet</servlet-name>
        <url-pattern>/boothLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BoothRegistrationServlet</servlet-name>
        <servlet-class>com.tcl.servlet.BoothRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoothRegistrationServlet</servlet-name>
        <url-pattern>/boothRegister</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.tcl.servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.tcl.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestFileUploadServlet</servlet-name>
        <servlet-class>com.tcl.servlet.TestFileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestFileUploadServlet</servlet-name>
        <url-pattern>/testFileUpload</url-pattern>
    </servlet-mapping>
</web-app>
